<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20180315012642.mdf;Initial Catalog=aspnet-WebApp-20180315012642;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="NWDB"
        connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security= true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
